@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-sm-3">
        <!-- ko if: userPlayer -->
        <div class="panel panel-default">
            <div class="panel-heading">My Rooms</div>
            <div class="list-group">
                <!-- ko template: { name: 'playerTemplate', data: userPlayer } --><!-- /ko -->
                <!-- add room -->
                <div class="list-group-item">
                    <input type="text" class="form-control" placeholder="New Room" maxlength="20" data-bind="value: roomToAdd, onEnter: addRoom" />
                </div>
            </div>
        </div>
        <!-- /ko -->
        <!-- other players -->
        <div class="panel panel-default">
            <div class="panel-heading">Other Rooms</div>
            <div class="list-group" data-bind="template: { name: 'playerTemplate', foreach: otherPlayers }"></div>
        </div>
        <!-- ko template: { name: 'chatTemplate', data: chat } --><!-- /ko -->
    </div>

    <div class="col-sm-9">
        <!-- attended rooms -->
        <div data-bind="template: { name: 'roomTemplate', foreach: attendedRooms }"></div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <!-- ko template: { name: 'chatTemplate', data: chat } --><!-- /ko -->
    </div>

    <div class="col-sm-6">
        <!-- ko template: { name: 'notificationTemplate', data: notification } --><!-- /ko -->
    </div>
</div>


@Html.Partial("_playerTemplate")
@Html.Partial("_roomTemplate")
@Html.Partial("_tableTemplate")
@Html.Partial("_chatTemplate")
@Html.Partial("_notificationTemplate")

@section scripts {
    <script type="text/javascript" src="~/Scripts/require.js" data-main="@Url.Content("~/TG.Scripts/main")"></script>
}
