<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewBag.Title - Table Games</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand">
                    <button type="button" class="btn btn-default btn-xs visible-xs-inline-block" data-bind="notifyVisibility: isSmall, click: isRoomListVisible.toggle, css: { active: isRoomListVisible }">
                        <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                    </button>
                    Table Games
                </span>
            </div>
            <div id="mainNavBar" class="navbar-collapse collapse" data-bind="event: { 'shown.bs.collapse': navbarShown, 'hidden.bs.collapse': navbarHidden }">
                <ul class="nav navbar-nav">
                    <li><a href="#" data-toggle="modal" data-target="#tgAbout">About</a></li>
                </ul>

                <div class="navbar-form navbar-right" style="display: none;" data-bind="visible: true">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Name" data-bind="value: authentication.nameToLogin, enable: !authentication.isLoggedIn(), onEnter: login" />
                    </div>
                    <button type="button" class="btn btn-default" data-bind="click: login, visible: !authentication.isLoggedIn()">Login</button>
                    <button type="button" class="btn btn-default" data-bind="click: logout, visible: authentication.isLoggedIn">Logout</button>
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#tgUserSettings" data-bind="visible: authentication.isLoggedIn">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("_about")
    @Html.Partial("_userSettings")
    @Html.Partial("_dialog")


    <div class="container" data-bind="visible: false">
        <div class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="display: none;" data-bind="visible: true">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="~/Scripts/jquery.signalR-2.2.1.js"></script>
    <script src="~/signalr/hubs"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
