<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Table Games</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand">Table Games</span>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#">About Us</a></li>
                </ul>

                <div class="navbar-form navbar-right" style="display: none;" data-bind="visible: true">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Name" data-bind="value: authentication.userName, enable: !authentication.isLoggedIn(), onEnter: login" />
                    </div>
                    <button type="button" class="btn btn-default" data-bind="click: login, visible: !authentication.isLoggedIn()">Login</button>
                    <button type="button" class="btn btn-default" data-bind="click: logout, visible: authentication.isLoggedIn">Logout</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="display: none;" data-bind="visible: true">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="~/Scripts/jquery.signalR-2.2.1.js"></script>
    <script src="~/signalr/hubs"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
